.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
 }

body{
     background-color: #233B4F;
 }

h1,p{
    color: white;
    position: absolute;
    margin-left: 60%;
    margin-top: 13%;
}

.txt2{
    margin-top: 16%;
}

p{
    margin-top: 20%;
}

button{
    position: absolute;
    margin-left: 60%;
    margin-top: 25%;
}

.btnsign{
    margin-left: 66%;
}

.col-12{
    background-color: #FFFFFF;
    height: 750px;
    margin-bottom: 20px;
    padding-top: 50px;
}

.txtabout{
    color: black;
    position: absolute;
    text-align: center;
    margin-top: 20px;
    margin-left: 200px;
}

.how{
    margin-top: 200px;
}

.txthow{
    color:black;
    position: absolute;
    text-align: center;
    margin-top: 10px;
    margin-left: 520px;
}

.imac{
    width: 80%;
    position: relative;
    margin-left: 10%;
    margin-top: 3%;
}
